<h1>Démonstrations 10 : Customs Directives</h1>
<p>Lorem <span Highlight>ipsum</span> dolor sit amet, consectetur adipisicing elit. Recusandae provident dolorum, neque ex cupiditate optio dolores minima adipisci accusantium est nostrum, fuga quaerat aspernatur harum quas ducimus modi saepe quia.</p>
<p>Lorem <span Highlight>ipsum</span> dolor sit amet consectetur adipisicing elit. Distinctio iste, ipsa atque officiis similique maiores quas sapiente rerum alias perspiciatis, sequi dolor quisquam? A corporis ex quasi odio <span Highlight>ipsum</span> ad.</p>
<p>Vitae maxime numquam recusandae, ratione, repellat itaque nobis consectetur, quia alias minus omnis commodi quisquam dolore! Molestias porro deserunt voluptatibus consequuntur cumque eaque pariatur, laudantium quidem voluptatum magni est odio.</p>
<p>Repellendus non asperiores perferendis, veniam commodi cupiditate quisquam mollitia quo ab! Labore, placeat. Nesciunt doloribus rem tenetur quisquam laudantium pariatur optio ipsa earum, dolorum perferendis porro laboriosam consectetur dignissimos nobis.</p>
<p class="Highlight">Qui autem a corrupti adipisci ducimus reprehenderit eius dolorum necessitatibus ea maxime, illo sequi, aliquam nulla amet obcaecati quae quibusdam neque! Aliquid accusamus optio ut enim magnam iusto labore vero?</p>

<h3>Passez sur le text pour le traduire</h3>

<p><span traduction Highlight>Hello</span>&nbsp;<span traduction>world</span>!</p>