<h1>Exercice 10 : </h1>

<p>Créez une application angular permettant grace à la communication des components par @Input() et @Output() de simuller la réservation de place de cinéma.</p>
<ol>
    <li>Créer un component parent qui gèrera une liste de film (titre, description, durée en minutes, affiche, listes des scéances) une séance est composée d'un numéro de salle, d'une heure et d'un nombre places restantes.</li>
    <li>Créer un component enfant qui permet l'affichage du titre, d'une micro description du film (100 caractères), de la durée et une miniature.</li>
    <li>Lorsque l'on clique sur le film dans la liste, affiché un second component enfant avec la totalité des informations du films et de ses séances.</li>
    <li>Dans ce dernier component ajouté un bouton pour chaque séance, permettant de réserver une place et de diminuer le nombre de places restantes</li>
</ol>