<h2>Exercice 07.2 - Convertisseur degré</h2>

<p>
    Créer un pipe qui permet de convertir une temperature en degré celsius vers les degré fahrenheit et inversément.
</p>

<p>temperature | toFahrenheit</p>
<p>temperature | toCelsius</p>

<p>temperature | temperature : 'c'</p>
<p>temperature | temperature : 'f'</p>

<hr>

<input type="text" [(ngModel)]="temperature">

<p>{{ temperature }} °C :   {{ temperature | toFahrenheit | number : '1.0-2'  }}</p>
<p>{{ temperature }} °F : {{ temperature | toCelsius | number : '1.0-2' }}</p>

<p>{{ temperature }} °C : {{ temperature | temperature : 'f' | number : '1.0-2' }}</p>
<p>{{ temperature }} °F : {{ temperature | temperature : 'c' | number : '1.0-2' }}</p>