<h3>Formulaire inscription</h3>
<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <p>
    Nickname : <input type="text" formControlName="nickname">
  </p>
  <p class="error" *ngIf="fg.controls['nickname'].invalid && fg.controls['nickname'].touched">
    Le nickname est requis.
  </p>
  <p>
    Email : <input type="email" formControlName="email">
  </p>
  <p class="error" *ngIf="fg.controls['email'].invalid && fg.controls['email'].touched">
    L'email doit être au format "xx@xx.xx"
  </p>
  <p>
    Date de naissance : <input type="date" formControlName="birthdate">
  </p>
  <p class="error" *ngIf="fg.controls['birthdate'].invalid && fg.controls['birthdate'].touched">
    <span *ngIf="fg.controls['birthdate'].errors">{{fg.controls["birthdate"].errors["isAdult"].defaultMessage}}</span>
  </p>

  <div>
    <p>Liste de films
      <button type="button" (click)="addMovie()">+</button>
    </p>
    <ul *ngIf="getMovieArray().controls" formArrayName="favoritemovie">
      <li *ngFor="let m of getMovieArray().controls; let i = index">
        Film {{i+1}} : <input type="text" [formControlName]="i">
        <button type="button" (click)="removeMovie(i)">X</button>
      </li>
    </ul>
  </div>
  <button [disabled]="fg.invalid">Valider</button>
</form>
