<nav>
    <ul>
        <li><a routerLink="">Accueil vide</a></li>
        <li><a routerLink="home">Accueil</a></li>
        <li>
            <a routerLink="demos">Démonstrations</a>
            <ul>
                <li><a routerLink="demos/demo01">Demo 01 - One Way Binding</a></li>
                <li><a routerLink="demos/demo02">Demo 02 - Two Way Binding</a></li>
                <li><a routerLink="demos/demo03">Demo 03 - Event Binding</a></li>
                <li><a routerLink="demos/demo04">Demo 04 - Attribute Binding</a></li>
                <li><a routerLink="demos/demo05">Demo 05 - La base du routing</a></li>
                <li><a routerLink="demos/demo06">Demo 06 - Les Pipes</a></li>
                <li><a routerLink="demos/demo07">Demo 07 - Les Customs Pipes</a></li>
                <li><a routerLink="demos/demo08">Demo 08 - Les Components Directives</a></li>
                <li><a routerLink="demos/demo09">Demo 09 - Les Structural Directives</a></li>
                <li><a routerLink="demos/demo10">Demo 10 - Les Customs Directives</a></li>
                <li><a routerLink="demos/demo11">Demo 11 - Les @input et @output</a></li>
                <li><a routerLink="demos/demo12">Demo 12 - Les services et injections de dépendances</a></li>
                <li><a routerLink="demos/demo13">Demo 13 - Les formulaires réactifs</a></li>
                <li><a routerLink="demos/demo14">Demo 14 - Routing & Guard</a></li>
                <li><a routerLink="demos/cible">Demo 14' - Cible du routing</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="exos">Exercices</a>
            <ul>
                <li><a routerLink="exos/exo03">Exo 03 - Le chronomètre</a></li>
                <li><a routerLink="exos/exo05">Exo 05 - Menu complet</a></li>
                <li><a routerLink="exos/exo07-1">Exo 07 - Le chronomètre (Pipe)</a></li>
                <li><a routerLink="exos/exo07-2">Exo 07 - Le convertisseur de degré</a></li>
                <li><a routerLink="exos/exo08">Exo 08 - Générateur de formes</a></li>
                <li><a routerLink="exos/exo09">Exo 09 - Panier de courses</a></li>
                <li><a routerLink="exos/exo10">Exo 10 - Réservation cinéma</a></li>
                <li><a routerLink="exos/exo11">Exo 11 - Panier de courses V2</a></li>
                <li><a routerLink="exos/exo12">Exo 12 - Formulaire MovieFan</a></li>
            </ul>
        </li>
    </ul>
</nav>
