<h2>Demo 09 - Structural Directives</h2>

<p>
    Les directives structurelles sont utilisées pour manipuler la structure du DOM en fonction des données du composants
</p>

<p>
    Elles sont généralement préfixées par le caractère * (astérix) et permettent de créer des éléments conditionnels ou répétitifs dans le template.
</p>

<p>Il existe plusieurs directives structurelles :</p>

<ul>
    <li>*ngIf : affiche un élément HTML conditionnellement en fonction d'une expression booléenne.</li>
    <li>*ngFor : permet de répéter un élément HTML pour chaque élément d'une collection</li>
    <li>*ngSwitch : permet d'affiher différents éléments en HTML en fonction de la valeur d'une variable</li>
</ul>

<h3>*ngIf</h3>

<button (click)="toggle()">Afficher / cacher</button>

<div *ngIf="isToggled; else elseblock">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores vitae eaque corporis, consequuntur sit dolore quibusdam? Autem illo reiciendis eius vero similique! Magni rem reprehenderit culpa. Blanditiis id quidem sit!
</div>

<ng-template #elseblock>
    <div>Car le booléen est faux.</div>
</ng-template>


<div *ngIf="isToggled; then trueblock else falseblock"></div>

<ng-template #trueblock><div>Le booléen est OK</div></ng-template>
<ng-template #falseblock><div>Le booléen est KO</div></ng-template>

<h3>*ngFor</h3>

<ul>
    <li *ngFor="let fruit of fruits; let pair = even; let toto = index; first as isFirst">
        <span [ngClass]="{classe : pair, first: isFirst}">{{ toto }} - {{ fruit }}</span>
    </li>
</ul>

<h3>*ngSwitch</h3>

<input type="text" [(ngModel)]="inputValue">

<div [ngSwitch]="inputValue">
    <p *ngSwitchCase="1">Pomme</p>
    <p *ngSwitchCase="2">Poire</p>
    <p *ngSwitchCase="3">Pêche</p>
    <p *ngSwitchDefault>Entrez 1, 2 ou 3</p>
</div>