<h2>Demo 08 - Les Components Directives</h2>

<h3>NgStyle</h3>

<p [ngStyle]="currentStyle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam expedita temporibus debitis atque, ipsum quaerat est ea nam, impedit, reprehenderit possimus quod. Ipsam exercitationem assumenda eius porro nulla quisquam officiis.
</p>

<button (click)="switchItalic()">Italic</button>
<button (click)="switchBold()">Bold</button>
<button (click)="switchUnderline()">Underline</button>

<p [ngStyle]="{ 'color' : color, 'margin': margin }">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores ipsum dolores possimus deserunt unde voluptatibus, ratione illum omnis libero accusamus? Doloremque dolor similique tempore cum sint, in vel veniam laudantium!
</p>

<input type="text" [(ngModel)]="color">

<input type="text" [(ngModel)]="margin">

<h3>NgClass</h3>

<p [ngClass]="{ maClasse: isActive }">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo recusandae, velit obcaecati quasi, illo nulla, ex voluptatibus consectetur commodi assumenda unde laboriosam! In illum nisi cupiditate iusto consectetur totam!
</p>

<button (click)="switchClass()">Appliquer la classe 'maClasse'</button>

<h3>NgModel</h3>

<p>
    Attention, ne pas oublier le FormsModule dans le app.module.ts
</p>

<p>Voir le ngModel color dans NgStyle</p>